#!/usr/bin/make -f
#
# We have three CMake projects (KWin decoration, Qt style, top-level assets).
# debhelper's auto-cmake addon assumes one project per source tree, so we
# override the configure/build/install steps to drive all three explicitly,
# all into the single ${DEB_BUILD_DIR}/debian/<pkg> staging tree.

%:
	dh $@

BUILD_DECOR  := obj-decoration
BUILD_STYLE  := obj-style
BUILD_ASSETS := obj-assets
SRCDIR       := cde-plasma
DESTDIR      := $(CURDIR)/debian/cde-plasma

override_dh_auto_configure:
	cmake -B $(BUILD_DECOR) -S $(SRCDIR)/kwin_cde_decoration_kf6_plasma6 \
		-DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release
	cmake -B $(BUILD_STYLE) -S $(SRCDIR)/cde_qt_style_kf6_plasma6 \
		-DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release
	cmake -B $(BUILD_ASSETS) -S $(SRCDIR) \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	cmake --build $(BUILD_DECOR)
	cmake --build $(BUILD_STYLE)

override_dh_auto_install:
	DESTDIR=$(DESTDIR) cmake --install $(BUILD_DECOR)
	DESTDIR=$(DESTDIR) cmake --install $(BUILD_STYLE)
	DESTDIR=$(DESTDIR) cmake --install $(BUILD_ASSETS)

override_dh_auto_test:
	# no tests
